/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    
}

body{
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

.logo {
    font-size: 35px;
    color: #0E191E;
    font-weight: 400;
    font-family: 'Sirin Stencil', cursive;
    font-style: italic;
    /* padding: 10px; */
    /* padding-left: 8%;  */
      
}

.wrapper{
    max-width: 1380px;
        width: 100%;
        margin: 0;      
}

.round{
    background-color: whitesmoke;
    border-radius: 2px;
    padding: 5px;
    margin-right: 2%;
}

span{
    display: inline-block;
    width: 70%;
}

.myland {
    display: inline-block;
    width: 80%;
    padding: 0 8%;
    margin-top: 2%;
    margin-bottom: 4%;
}



h1 {
    
    font-size: 65px;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    font-weight: 800;
    padding: 2% 8%;  
    text-transform: uppercase;
    width: 75%;
}
.links{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

nav {
    background-color: darkgray;
    color: whitesmoke;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
       
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */

  }
  
  nav ul li {
   display: inline;
    margin-right: 10px;
  }

  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  select {
    width: 250px;
    padding: 5px;
    border: none;
  }
  .main{
    background-image: url('./aryan-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.9;
    display: flex;
    
    justify-content: space-between;
    height: 100%;
    

  }
 /* .column{
    margin: auto;
    background-color: aqua;
    width: 33%;
    height: 75vh;
    padding: 13% 5%;*/

  .landing {
    /*background-image: url('./aryan-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;*/
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /*height: 100vh;*/
    height: auto;
    margin: auto;
    
    margin-left: 8%;
    margin-top: 5%;
}

.action{
        padding: 15px;
        background-color: darkolivegreen;
        color: mediumaquamarine;
        text-decoration: none;
        /*display: inline-block; */
        margin: auto;
        border-radius: 5px;
        margin-left: 8%;
        /*margin-top: 4%;*/
    
}
button:hover {
        background-color: rgb(58, 122, 141);
        color: white;
}

/* Style the Sticky icons on web page */   
.stickyicon-list {   
    position: fixed;   
    top: 380px;   
    transform: translateY(-50%);             
    }         
    .stickyicon-list a {   
    display: block;   
    text-align: center;   
    padding: 8px;   
    transition: all 0.5s ease;   
    color: white;   
    font-size: 25px;   
    }         

/* recommendation styles */ 
    .result {
        /*margin-top: 20px;*/
        display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    margin: auto;
    
    /*align-items: center;*/
    width: 100%;
    
    /*background-color: aquamarine;*/
    }
    .result-item {
        margin: auto;
        max-width: 75%;
        height: 50%;
        /*background-color: blue;*/
    }
    .result-item img, p {
        max-width: 95%;
        height: 50%;
        
    }